body {
  height: 5000px;
  counter-reset: div_order;
}

div {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 5px;
  border: 3px solid #222;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

div.static {
  position: static;
  background: white;
  margin-top: 5px;
}

div.relative {
  position: relative;
  left: 260px;
  top: -50px;
  background: RoyalBlue;
}

div.absolute {
  position: absolute;
  top:50px;
  left:100px;
  bottom:0px;
  right:0px;
  background: ForestGreen;
}

div.fixed {
  position: fixed;
  top: 10%;
  left: 5px;
  background: IndianRed;
}


div.sticky {
  position: sticky;
  top: 100px;
  background: PaleGoldenRod;
}

div:before {
  counter-increment: div_order;
  content: counter(div_order) ". " attr(class);
  text-transform: capitalize;
}

div.static:after {
  content: " (Default)";
  color: grey;
  font-size: 0.8rem;
}
