/* 모든 li 요소를 보라색으로 만듭니다 */
li {
    color: purple;
}

/* 모든 h1과 h2를 파란색으로 만들기(하나의 규칙으로) */

h1, h2 {
    color: blue;
}


/* id가 'submit'인 요소에 녹색 배경색을 부여합니다 */
#submit {
    background-color: green;
}


/* 'flavors' id를 가진 요소 내부의 span을 빨간색으로 만듭니다 */

#flavors span {
    color: red;
}


/* 'size' 클래스가 있는 요소에 content 색상을 purple으로 지정합니다. */
.size  {
    color: purple;
}


/* email input을 선택하고 주황색 배경색으로 지정합니다*/
input[type="email"] {
    background-color: orange;
}


/* href가 '.org'로 끝나는 모든 링크를 선택하고 magenta색으로 만듭니다. */
[href$=".org"] {
    color:magenta;
}

/* 클래스가 'bright'인 h2를 선택하고(다른 요소도 같은 클래스를 가지고 있으니 주의하세요!) 청록색을 지정합니다. */
h2.bright {
    color: limegreen;
}